#include <windows.h>
1 VERSIONINFO
FILEVERSION 0,1,0,1
PRODUCTVERSION 0,1,0,1
FILEFLAGSMASK 0x3fL
FILEOS 0x40004L
FILETYPE 0x1L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Drive G720 Project\0"
      VALUE "FileDescription", "Drive GPU Lab Winlator telemetry and diagnostic probe\0"
      VALUE "FileVersion", "0.1.0-dev.1\0"
      VALUE "InternalName", "G720Probe\0"
      VALUE "OriginalFilename", "G720Probe.exe\0"
      VALUE "ProductName", "Drive GPU Lab\0"
      VALUE "ProductVersion", "0.1.0-dev.1\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
